imports:
  - { resource: vendor/drupol/php-conventions/config/php7/grumphp.yml }

parameters:
  extensions:
    - drupol\PhpConventions\GrumphpTasksExtension
  extra_tasks:
    phpspec:
      metadata:
        priority: 3000
    infection:
      threads: 10
      min_msi: 30
      min_covered_msi: 30
      metadata:
        priority: 2500
